.playerInput {
  margin: 8px;
  text-align: center;
}

.playerInput_text {
  justify-content: center;
  text-align: center;
  width: 30%;
  min-width: 150px;
  padding: 8px;
  margin: 0 auto;
  font-size: 25px;
  background-color: #cae6da;
  border-radius: 8px;
}

@media (max-width: 768px) 
{
  .playerInput_text {
    font-size: 3.5vw;
  }
}
