.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  /* width: 70%; */
  justify-content: center;
  padding: 16px;
}

.tutorial_text {
  margin-top: 16px;
}

.reveal-btn {
  font-size: 25px;
  background-color: #888;
  border-radius: 8px; 
  margin: 12px;
  width: 8%;
  min-width: 80px;
  padding: 6px;
  color: #f7f7f7;
}

.reveal-active {
  background-color: red;
  color: white;
  padding: 6px;
  border-radius: 8px; 
}

.reveal-active:hover {
  color: white;
}
